
@{
     ViewBag.Title = "_Footer";
}

<!-- Footer -->
<footer id="footer" class="footer">
     <!-- Your Company Name -->
     <img src="images/logo-icon.png" width="200" alt="Logo" />
     <!-- Copyright -->
     <p class="copyright normal">© 2014 <span class="colored">Fitness.</span> All Rights Reserved.</p>
</footer><!-- End Footer -->
